<app-menu></app-menu>
<div class="parallax" id="home"></div>

<div class="jumbotron jumbotron-fluid bg-jumbotron">
    <div class="container text-warning">
      <h1 class="display-4">Yellow</h1>
      <p class="lead">Este é um site para abordar o Preconceito contra Asiáticos.</p>
    </div>
  </div>

  <div class="card-deck mx-3 mb-4" id="exemplos">
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/uSx25nxm.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Esteriótipos</h5>
        <p class="card-text text-justify">A imagem do asiático no brasil esta tão associada a algumas coisas, que as pessoas agem de forma um pouco preconceituosa sem nem perceberem. Então quando vc liga a imagem de um asiático a elementos como anime, mangá, kpop, você já está tendo uma pré visão e isso, mesmo sendo sem más intenções, já mostra que é esperado que os asiáticos sigam um esteriótipo.</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/ifJ5342.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Corona Vírus</h5>
        <p class="card-text text-justify">O preconceito contra asiáticos sempre aconteceu, mas nunca era visível. Com o início da pandemia do Corona Vírus, isso começou a ser mais evidenciado. Enquanto o vírus ainda não tinha chegado ao Brasil, ocorreram inúmeros relatos de comentários preconceituosos e inúmeros memes. O preconceito com a cultura e costumes chineses também se evidenciaram muito.  </p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/qbavC0e.jpg?5" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">No ambiente de Estudos</h5>
        <p class="card-text text-justify">Os asiáticos são vistos como uma "minoria modelo", em que há uma imagem de que são quietos, inteligentes, bons em matemática e tecnologia. No meio acadêmico e escolar, os asiáticos são vistos como exemplos e muitas vezes não recebem seus méritos por estudar ou se esforçar, mas sim por ser japonês ("Tirou nota boa pq é japa" "Quer passar no vestibular? mata um japa"). </p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="https://i.imgur.com/4dWKr85.jpg?2" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Objetificação feminina</h5>
          <p class="card-text text-justify">Outra coisa que mostra muito esse esteriótipo, é a objetificação da mulher asiática como submissa. Eles mostram claramente que não estão falando com a mulher por ela ser legal ou gente boa, mas apenas por ser descendente de japoneses. Há uma grande fetichização, com pessoas dizendo por exemplo: "Sempre quis ficar com uma japonesa", "Prefiro ficar com japonesas", "Tenho fetiche em japas".</p>
          </div>
      </div>
  </div>
<app-rodape></app-rodape>