#img-bg{
    /* para pegar uma imagem em assets: ../../assets */
    background-image: url("https://i.imgur.com/4xaGJcr.jpg?1");

    min-height: 939px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}